.highlight-clean {
    color: #313437;
    background: linear-gradient(135deg, #134E5E, #71B280);
    padding: 50px 0;
}

.highlight-clean p {
    color: #fff;
}

.highlight-clean h2 {
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
}

.highlight-clean .intro {
    color: #fff;
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
}

.highlight-clean .buttons {
    text-align: center;
}

.highlight-clean .buttons .btn {
    padding: 16px 32px;
    margin: 6px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none;
    background-color: #ddd;
}

.highlight-clean .buttons .btn:hover {
    opacity: 1;
}

.highlight-clean .buttons .btn:active {
    transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary {
    background-color: #f0ad4e;
    width: 40%;
    color: #fff;
}

.highlight-clean .buttons .btn-success {
    background-color: #3da4ab;
    width: 40%;
    color: #fff;
}

.highlight-clean .buttons .btn-warning {
    background-color: #055ada;
    width: 40%;
    color: #fff;
}

.highlight-clean .buttons .btn-danger {
    background-color: #5cb85c;
    width: 40%;
    color: #fff;
}

.highlight-clean .buttons .btn-info {
    background-color: #5bc0de;
    /* padding-left: 70px;
    padding-right: 70px;
    */
    width: 40%;
    color: #fff;
}

.highlight-clean .buttons .btn-dark {
    background-color:
        #d9534f;
    width: 40%;
    color: #fff;
}

/* .highlight-clean .buttons .btn-secondary {
    background-color: #055ada;
    color: #fff;
} */
